<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Team Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${allTeam}">
        <td th:text="${team.name}"></td>
        <td>
            <ul>
                <li th:each="task : ${team.taskList}" th:text="'Member name is ' + ${task.member.name} + ', and assign task is  ' + ${task.name} "></li>
            </ul>
        </td>
        <td>
            <form th:action="@{/task/addTask}" method="get">
                <input type="hidden" name="teamId" th:value="${team.id}">
                <button type="submit">Add-Task</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>