<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Team Name</th>
        <th>Member name and Assign Task</th>
        <th>Adding option</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${allTeam}">
        <td th:text="${team.name}"></td>
        <td>
            <ul>
                <li th:each="task : ${team.taskList}">
                    <span th:text="'Member name is ' + ${task.member.name} + ', and assign task is  ' + ${task.name}"></span>
                    <!-- Add the button here -->
                    <form th:action="@{/task/completeTask}" method="get">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="teamId" th:value="${team.id}">
                        <button type="submit">Completed</button>
                    </form>
                </li>
            </ul>
        </td>
        <td>
            <form th:action="@{/task/addTask}" method="get">
                <input type="hidden" name="teamId" th:value="${team.id}">
                <button type="submit">Add-Task</button>
            </form>
        </td>
    </tr>
    <tr><td colspan="3"><br></td></tr>
    </tbody>
</table>
</body>
</html>